.two-left {
  float: left;
  width: 260px;
  height: 400px;
}
.contact {

}
.contact img {
  width: 228px;
  margin: 10px 0 0 16px;
  border: 0 none;
  vertical-align: middle;
}
.contact p{
  padding-left: 16px;
  padding-top: 10px;
  font-size: 14px;
}
.contact-title {
  height: 46px;
  background: #2c6ebc;
  line-height: 40px;
  padding-left: 10px;
  color: #fff;
  font-weight: 700;
}

.products-right {
  float: right;
  width: 866px;
  height: 200px;
}
.products-title {
  height: 46px;
  border-bottom: 1px solid #efefef;
  line-height: 46px;
  position: relative;
  padding-left: 20px;
  font-size: 18px;
  font-weight: bold;
}
.products-title::before {
  position: absolute;
  left: 2px;
  top: 5px;
  content: "";
  width: 5px;
  height: 36px;
  background: red;
}
.products-main ul li {
  width: 199px;
  height: 232px;
  border: 1px solid #eee;
}