body{
  width:100%;
  height:100%;
}
a{
  text-decoration: none;
}
.header {

}
.header .logo-box {
  height: 100px;
  width: 1140px;
  margin: 0 auto;
  padding-top: 10px;
}
.logo {
  width: 150px;
  height: 75px;
}
.logo img {
  width: 100%;
  height: 100%;
}
.main {
  width: 1140px;
  margin: 0 auto;
}
/*banner*/
.banner{
  width:100%;
  height:300px;
  background:red;
}
.banner img{
  width:100%;
  height:100%;
}
/*小banner*/
.banner-nav{
  height:158px;
  margin-top:15px;
}
.banner-nav-item{
  height:158px;
  margin:0 5px;
  background:#ccc;
}
/*产品推荐*/
.goods-tj{
  margin-top:15px;
}
.title{
  height:50px;
  line-height:50px;
  font-size:20px;
  font-weight:bold;
  border-left:4px solid #3c84ef;
  border-bottom:1px solid #ccc;
  background:#fff;
  display:flex;
  justify-content:space-between;
  padding:0 10px;
}
.title>a{
  font-size:14px;
  text-decoration: none;
}
.goods-list{
  height:250px;
  background:orange;
  margin-top:15px;
}
.goods-list div{
  display: inline-block;
  width:250px;
  height:250px;
  margin:0 10px;
  background:#fff;
}
/*产品类别*/
.goods-lb{
  background:pink;
  margin-top:15px;
  margin-bottom:15px;
}
.goods-lb-box{
  height:190px;
}
.goods-lb-item{
  height:190px;
  background:#ccc;
  margin:0 5px;
}
.footer {
  background: #3c84ef;
  height: 100px;
  padding-top: 20px;
}
.footer p {
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}