.header {

}
.header .logo-box {
  height: 100px;
  width: 1000px;
  margin: 0 auto;
  padding-top: 10px;
}
.logo {
  width: 150px;
  height: 75px;
}
.logo img {
  width: 100%;
  height: 100%;
}
.main {
  width: 1000px;
  margin: 0 auto;
  height: 800px;
  background: red;
}
.footer {
  background: #3c84ef;
  height: 100px;
  padding-top: 20px;
}
.footer p {
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
}